.vs/AmmfTest/config/applicationhost.config
.vs/AmmfTest/DesignTimeBuild/.dtbcache.v2
.vs/AmmfTest/FileContentIndex/01da43c7-c695-4b0c-8c69-ee2b3eb9e711.vsidx
.vs/AmmfTest/FileContentIndex/23cdcc42-a17a-42a5-801a-a9cddb4c367f.vsidx
.vs/AmmfTest/FileContentIndex/5b4c6f42-effb-4f5b-9e50-6bffcd6182f8.vsidx
.vs/AmmfTest/FileContentIndex/5fe662c4-1a33-43da-8640-0718ad923127.vsidx
.vs/AmmfTest/FileContentIndex/861488ff-570c-4c82-a9c0-fa998e8a8193.vsidx
.vs/AmmfTest/v17/.futdcache.v2
.vs/AmmfTest/v17/.suo
.vs/AmmfTest/v17/DocumentLayout.backup.json
.vs/AmmfTest/v17/DocumentLayout.json
.vs/ApiTier/DesignTimeBuild/.dtbcache.v2
.vs/ApiTier/FileContentIndex/640ddb4e-68dd-4dd8-8889-b3ca36f5d40a.vsidx
.vs/ApiTier/FileContentIndex/6c031776-1ac3-40fe-9fea-1505131fe0e3.vsidx
.vs/ApiTier/FileContentIndex/7275c183-301f-4d81-b949-b04d2d42fd68.vsidx
.vs/ApiTier/FileContentIndex/92cef052-273a-47c0-9f0d-758cf0a70784.vsidx
.vs/ApiTier/FileContentIndex/da662a68-86bc-46f2-bc22-831892c6fb49.vsidx
.vs/PinewoodTest/config/applicationhost.config
.vs/PinewoodTest/DesignTimeBuild/.dtbcache.v2
.vs/PinewoodTest/FileContentIndex/0ae85533-aae7-4043-9359-c3ec2657281e.vsidx
.vs/PinewoodTest/FileContentIndex/1b54e0ba-a46f-4a35-946b-fcc8875e02bc.vsidx
.vs/PinewoodTest/FileContentIndex/4e3e6e0d-d21f-48db-8e6a-74f7a385f0b7.vsidx
.vs/PinewoodTest/FileContentIndex/7a1aec8d-106a-47b7-90ea-369165d4f530.vsidx
.vs/PinewoodTest/FileContentIndex/c358e774-6378-4089-a400-5a77d5ff20c9.vsidx
.vs/PinewoodTest/v17/.futdcache.v2
.vs/PinewoodTest/v17/.suo
.vs/PinewoodTest/v17/DocumentLayout.backup.json
.vs/PinewoodTest/v17/DocumentLayout.json
.vs/ProjectEvaluation/ammftest.metadata.v9.bin
.vs/ProjectEvaluation/ammftest.projects.v9.bin
.vs/ProjectEvaluation/ammftest.strings.v9.bin
.vs/ProjectEvaluation/apitier.metadata.v9.bin
.vs/ProjectEvaluation/apitier.projects.v9.bin
.vs/ProjectEvaluation/apitier.strings.v9.bin
.vs/ProjectEvaluation/pinewoodtest.metadata.v9.bin
.vs/ProjectEvaluation/pinewoodtest.projects.v9.bin
.vs/ProjectEvaluation/pinewoodtest.strings.v9.bin
.vs/AmmfTest/FileContentIndex/085f1543-9c4b-4f72-80be-e37cbd17afe0.vsidx
.vs/AmmfTest/FileContentIndex/087bad75-2b1f-4269-a8e3-489aae4ffdcf.vsidx
.vs/AmmfTest/FileContentIndex/e40aadcd-fefb-4154-a955-a72c4e998ae3.vsidx
.vs/AmmfTest/FileContentIndex/f545effa-7d5b-4a43-9061-f1b70ac9c3e1.vsidx
.vs/DemoProjects/config/applicationhost.config
.vs/DemoProjects/DesignTimeBuild/.dtbcache.v2
.vs/DemoProjects/FileContentIndex/054936b2-4ce2-4d24-99c6-e84fa9d54065.vsidx
.vs/DemoProjects/FileContentIndex/13622c97-d1e6-425b-b3bf-a76d31754ce1.vsidx
.vs/DemoProjects/FileContentIndex/3732b868-ebcb-464e-9424-efe31dfc0801.vsidx
.vs/DemoProjects/FileContentIndex/d5ca04c7-7319-412c-94fd-b0ee97e4b160.vsidx
.vs/DemoProjects/FileContentIndex/f028b5f5-b1d2-44eb-b37f-fcff0602a5a2.vsidx
.vs/DemoProjects/v17/.futdcache.v2
.vs/DemoProjects/v17/.suo
.vs/DemoProjects/v17/DocumentLayout.backup.json
.vs/DemoProjects/v17/DocumentLayout.json
.vs/ProjectEvaluation/demoprojects.metadata.v9.bin
.vs/ProjectEvaluation/demoprojects.projects.v9.bin
.vs/ProjectEvaluation/demoprojects.strings.v9.bin
