@page

@model UI.Pages.IndexModel

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div style="width:50%;">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(m => m.RegistrationForm.TopicId)

                    @Html.ValidationMessageFor(m => m.RegistrationForm.TopicId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="RegistrationForm.FirstName"></label>
                    <span asp-validation-for="RegistrationForm.FirstName" class="text-danger"></span>
                    <input asp-for="RegistrationForm.FirstName" class="form-control" maxlength="50" />
                </div>
            </div class="col">
            <div class="col">
                <div class="form-group">
                    <label asp-for="RegistrationForm.LastName"></label>
                    <span asp-validation-for="RegistrationForm.LastName" class="text-danger"></span>
                    <input asp-for="RegistrationForm.LastName" class="form-control" maxlength="50" />
                </div>
            </div class="col">
        </div class="row">
        <div class="row">                
            <div class="form-group">
                <label asp-for="RegistrationForm.Email"></label>
                <span asp-validation-for="RegistrationForm.Email" class="text-danger"></span>
                <input asp-for="RegistrationForm.Email" class="form-control" maxlength="100" />
            </div>
        </div class="row">
        <div class="row"> 
            <div class="col">
                <div class="form-group">
                    <label asp-for="RegistrationForm.Company"></label>
                    <span asp-validation-for="RegistrationForm.Company" class="text-danger"></span>
                    <input asp-for="RegistrationForm.Company" class="form-control" maxlength="100" />
                </div>
            </div class="col">
            <div class="col">
                <div class="form-group">
                    <label asp-for="RegistrationForm.Title"></label>
                    <span asp-validation-for="RegistrationForm.Title" class="text-danger"></span>
                    <input asp-for="RegistrationForm.Title" class="form-control" maxlength="100" />
                </div>
            </div class="col">
        </div class="row">
        <div class="row"> 
            <div class="form-group">
                <label asp-for="RegistrationForm.AnyQuestions"></label>
                <span asp-validation-for="RegistrationForm.AnyQuestions" class="text-danger"></span>
                <textarea asp-for="RegistrationForm.AnyQuestions" class="form-control" maxlength="1000" ></textarea>
            </div>
        </div class="row">
        <br />
        <div>
            @if(Model.UserMessage != null) {
                <div>@Model.UserMessage</div> 
            }
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Register</button>
    <a asp-page="Index" class="btn btn-secondary">Clear Answers</a>

</form>


